*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  
  .lp-wrapper {
    width: 100%;
    background-color: #fff;
   
  }
  
  .lp-container {
    max-width: 2560px;
    width: 100%;
    height: 100vh;
    margin: auto;
   
  
  }
  
  
  .lp-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
  }
  .nav-a  {
    display: flex;
   justify-content: space-evenly;
   gap: 15px;
   align-items: center;
  }
  
  .nav-a  a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
  }
  .nav-a a:hover {
    color: #2d74ff;
  }
  
  .lp-sign-in {
    background-color: #2d74ff;
    color: #ffffff;
    border: none;
    padding: 0.6rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .lp-simbikick {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 6rem 2rem 2rem; */
     height: 80%;
     width: 80%;
     margin: 0 auto;
    gap: 4rem;
  }
  
  .lp-simbikick-text {
    max-width: 60%;
    
  }
  
  .lp-simbikick-text h1 {
    font-size: 4rem;
    color: #2d74ff;
    /* margin-bottom: 1rem; */
    line-height: 110%;
  }
  
  .lp-simbikick-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 70%;
    line-height: 150%;
    color: #404040;
    margin-top: 1rem;
  }
  
  .lp-hero-buttons {
    display: flex;
    gap: 10px;
  }
  .lp-hero-buttons .get-started {
    background-color: #2d74ff;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    width: 200px;
    height: 43px;
    border-radius: 10px;
    
    cursor: pointer;
  }
  
  .lp-hero-buttons .have-account {
    border: 1px solid #2d74ff;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-size: 1rem;
    color: #2d74ff;
    background: #eef6ff;
    cursor: pointer;
  }
  
  .lp-hero-image img {
    width: 70%;
    
  }
  
  .lp-media-section {
    text-align: center;
    color: #2d74ff;
    background-color: #fff8e6;
    padding: 1rem 0.5rem;
  }
  .lp-media-section p {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.7rem;
  }
  .lp-media-logos img {
    width: 60%;
  }
  
  .lp-media-logos {
    display: flex;
    justify-content: space-evenly;
  }
  .lp-media-logos img {
    height: 40px;
    margin: 0 1rem;
    vertical-align: middle;
  }
  
  .lp-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    background-color: #fff;
  }
  .lp-feature {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 80%;
  }
  
  .lp-feature h4 {
    color: #2d74ff;
    font-size: 1.5rem;
  }
  
  .lp-feature img {
    width: 40px;
  }
  
  .lp-features-character img {
    width: 80%;
  }
  
  .lp-features-list {
    text-align: center;
    font-size: 40px;
  }
  
  .lp-feats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .lp-features-list h2 {
    color: #2d74ff;
    margin-bottom: 2rem;
    font-size: 3rem;
    margin-right: 4rem;
  }
  
  .lp-features-list ul {
    list-style: none;
    padding: 0;
  }
  
  .lp-features-list li {
    margin-bottom: 1.5rem;
  }
  
  .how-it-works {
    background-color: #f1f8ff;
  }
  
  .how-it-works h2 {
    text-align: center;
    color: #3a86ff;
    font-size: 3rem;
    margin-bottom: 0;
    padding-top: 2rem;
  }
  
  .works {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.7rem;
    margin-bottom: 0;
  }
  
  .iphone-15 {
    margin-bottom: 0;
    width: 500px;
  }
  .works .sim-talk img {
    width: 750px;
  }
  
  .jsimbii {
    background-color: #3a86ff;
    color: white;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 3rem;
  }
  
  .testimonials-section {
    padding: 3rem 2rem;
    background-color: #fff;
    text-align: center;
  }
  
  .testimonials-heading {
    color: #3a86ff;
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }
  
  .testimonials-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .testimonial-card {
    background: linear-gradient(135deg, #f8efff1a, #eff6ff);
    padding: 2rem;
    border-radius: 16px;
    max-width: 350px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    text-align: left;
  }
  
  .stars {
    margin-bottom: 1rem;
  }
  
  .testimonial-card h4 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .quote {
    font-style: italic;
    font-size: 0.95rem;
    color: #444;
    margin-bottom: 1rem;
  }
  
  .author {
    font-size: 0.8rem;
    font-weight: 500;
    color: #555555af;
  }
  
  .faq-container {
    max-width: 999px;
    margin: 60px auto;
    font-family: Arial, sans-serif;
    padding: 0 16px;
  }
  
  .faq-title {
    text-align: center;
    color: #2c80ff;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .faq-item {
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: #2c80ff;
    font-size: 16px;
  }
  
  .faq-answer {
    margin-top: 10px;
    font-size: 14px;
    color: #444;
  }
  
  .arrow {
    font-size: 14px;
  }
  
  @media screen and (max-width: 1024px) {
    /* .lp-simbikick {
       padding: 2rem 4rem;
    } */
  
    .lp-simbikick-text,
    .lp-hero-image {
      max-width: 100%;
      padding: 0;
    }
    .lp-simbikick-text{
      width: 50%;
    }
    .lp-simbikick-text h1{
      font-size: 2.5rem;
    }
  
    .lp-simbikick-text p {
      max-width: 100%;
      margin: 1rem auto 2rem;
    }
  
    /* .lp-features {
      flex-direction: column;
      gap: 3rem;
    } */
  
    .lp-feature {
      /* width: 100%; */
      justify-content: center;
      text-align: center;
      margin: auto;
    }
  
    .lp-features-character img {
      display: none;
      
    }
  
    .testimonials-container{
      display: flex;
       justify-content: space-between;
  
      flex-wrap: nowrap;
    }
  
    .testimonial-card{
      max-width: 250px;
      
    }
  
    .works {
      flex-direction: column-reverse;
      align-items: center;
    }
  
    .works .sim-talk img {
      width: 100%;
      max-width: 100%;
    }
  
    /* .lp-feats {
      grid-template-columns: 1fr;
      gap: 2rem;
    } */
  
    /* .lp-hero-buttons {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    } */
  
    .lp-hero-buttons .get-started,
    .lp-hero-buttons .have-account {
      margin-bottom: 1rem;
      padding: 0;
      width: 100%;
      max-width: 250px;
    }
  
    .jsimbii {
      width: 100%;
      max-width: 300px;
    }
  
    .arrow img{
      width: 24px;
    }
  
  }
  
  /* Phones (<768px)  */
   @media screen and (max-width: 760px) {
  
  
    .lp-wrapper{
     max-width:  100%;
    }
    /* .lp-navbar {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
    } */
  
    .nav-a a{
      font-size: 12px;
    }
  
  .lp-sign-in {
    padding: 0.3rem 0.8rem;
    font-size: 14px;
    border-radius: 8px;
  }
  
    .lp-logo img {
      width: 70px;
    }
    nav {
      display: flex;
      align-items: center;
      text-align: center;
      /* padding: 1rem 1rem; */
    }
  
    nav a {
      font-size: 16px;
    }
  
  
    /* .lp-simbikick {
      gap: 2rem;
      
    } */
    .lp-hero-buttons {
      display: flex;
      flex-direction: row;
    }
  
    .lp-simbikick-text h1 {
      font-size: 2rem;
    }
  
    .lp-simbikick-text p {
      font-size: 1.1rem;
    }
  
    .lp-hero-buttons .have-account{
      font-size: 10px;
    }
  
    
    .lp-features-character img {
      width: 20%;
    }
  
    .sim-talk {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  
    .lp-features {
      padding: 2rem 1rem;
    }
  
    .faq-container {
      padding: 0 1rem;
    }
  
    .faq-question {
      font-size: 15px;
    }
  
    .faq-answer {
      font-size: 13px;
    }
  
    .testimonials-container {
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      
    }
  
    .testimonial-card {
      width: 55%;
      max-width: 100%;
    }
  } 
  
  /* Phones (≤600px) */
  @media screen and (max-width: 600px) {
    .lp-navbar {
      padding: 1rem ;
      padding-top: 2rem;
     
    }
  
    .nav-a a {
      font-size: 12px;
      /* margin-right: 0.5rem; */
    }
  
    .lp-simbikick-text p {
      width: 70%;
    }
  
    .lp-simbikick {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 3rem 1rem 0 1rem;
    }
  
    .lp-simbikick-text {
      padding-top: 3.5rem;
      max-width: 100%;
      text-align: center;
      width: 100%;
    }
  
    .lp-simbikick-text h1 {
      font-size: 1.8rem;
    }
  
    .lp-simbikick-text p {
      font-size: 1rem;
      max-width: 90%;
      margin: 1rem auto;
    }
  
    .lp-hero-buttons {
      padding-top: 20px;
      flex-direction: column;
      gap: 0.4rem;
      align-items: center;
      
    }
  
    .lp-hero-buttons .get-started,
    .lp-hero-buttons .have-account {
      font-size: 0.9rem;
      padding: 0.6rem 1.2rem;
    }
  
    .lp-hero-buttons .have-account{
      font-size: 1rem;
      padding: 0.9rem 0.7rem;
    }
    .lp-hero-image img{
      display: none;
    }
  
    .lp-media-section p {
      font-size: 1.5rem;
    }
  
    .lp-media-logos img{
      width: 55%;
    }
  
    .lp-feats {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  
    .lp-feature h4 {
      font-size: 1.2rem;
    }
  
    .lp-features {
      flex-direction: column;
      padding: 1.5rem 1rem;
    }
  
    .lp-features-character img {
      display: none;
    }
  
    .lp-features-list h2{
      font-size: 2.5rem;
      margin-right: 0;
    }
  
    .works {
      flex-direction: column-reverse;
      padding: 1rem;
    }
  
    .iphone-15 {
      width: 70%;
      padding-top: 1.5rem;
    }
  
    .works .sim-talk img {
      width: 100%;
    }
  
    .jsimbii {
      font-size: 1rem;
      padding: 0.75rem 1rem;
      width: 100%;
    }
  
    .testimonial-card {
      width: 90%;
      padding: 1.5rem;
    }
  }
  
  /* Extra Small Devices (≤400px) */
  @media screen and (max-width: 400px) {
    .lp-simbikick-text h1 {
      font-size: 1.5rem;
    }
  
    .lp-simbikick-text p {
      font-size: 0.95rem;
    }
  
    .lp-hero-buttons .get-started,
    .lp-hero-buttons .have-account {
      font-size: 0.85rem;
      padding: 0.5rem 1rem;
    }
  
    .nav-a a {
      font-size: 11px;
    }
  
    .lp-sign-in {
      font-size: 12px;
      padding: 0.3rem 1rem;
    }
  
    .lp-media-section p {
      font-size: 1.5rem;
    }
  
    .lp-feature h4 {
      font-size: 1rem;
    }
  
    .testimonials-heading {
      font-size: 2rem;
    }
  
    .faq-title {
      font-size: 22px;
    }
  
    .faq-question {
      font-size: 14px;
    }
  
    .faq-answer {
      font-size: 12px;
    }
  
    .jsimbii {
      font-size: 1rem;
      width: 90%;
    }
  
    .arrow img {
      width: 20px;
    }
  
    .testimonial-card {
      padding: 1.25rem;
    }
  }