.welcome-wrapper {
  background-color: #f8f8f8;
  padding: 0;
}

.welcome-header-Desktop {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid #e6e6e6;
}

/* .user-info {
  display: flex;
  align-items: center;
  gap: 0.6rem;
} */

/* .bell-icon {
  cursor: pointer;
  margin-top: 8px;
}

.user-avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #96aad7;
  border-radius: 16px;
  padding: 6px 14px;
}

.user-avatar img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.username {
  font-weight: 500;
  font-size: 14px;
} */

/* .user-info .wallet-btn {
  padding: 10px 18px;
  border: 1px solid #bcdbff;
  border-radius: 16px;
  background: #eef6ff;
  color: #1e293b;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
} */

.welcome-title-content {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  text-align: center;
}

.welcome-title {
  font-size: 2.5rem;
  margin-top: 0.4rem;
  margin-bottom: 0;
  font-weight: 600;
  color: #333;
}

.welcome-simbi {
  vertical-align: middle;
}

.subtitle {
  font-weight: 500;
  color: #666;
  font-size: 1.1rem;
  margin-top: 0.2rem;
}

.desc {
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
  color: #888;
  font-size: 0.95rem;
}

.welcome-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.welcome-sidebar {
  width: 35%;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.step {
  margin-bottom: 0;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.step.active {
  opacity: 1;
}

.image-icon {
  background-color: #d6d6d6;
  padding: 8px 8px 2px 8px;
  border-radius: 50%;
  margin-top: 1.5rem;
}
.image-icon img {
  width: 22px;
}
.label strong {
  display: block;
  margin-bottom: 0.4rem;
  margin-top: 0.7rem;
  font-weight: 600;
  color: #333;
}

.label span {
  font-size: 0.9rem;
  color: #777;
}

.label p {
  padding-bottom: 0.7rem;
}

.form-section {
  flex: 1;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  text-align: left;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.progress-bar {
  height: 6px;
  background: #eee;
  border-radius: 10px;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
}

.progresss {
  background: #00d39f;
  height: 100%;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.progress-percent {
  position: absolute;
  right: 35px;
  top: 44px;
  font-size: 0.9rem;
  color: #969696;
}

.welcome-label {
  display: block;
  font-weight: 600;
  margin: 2rem 0 1rem 0;
  color: #222;
  font-size: 20px;
}

.select,
.dropdown {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background: #fff;
  color: #696969;
}

.first-option {
  color: #9b9b9ba4;
}

.option-btnn {
  display: block;
  width: 70%;
  margin: 0.5rem 0;
  padding: 0.8rem;
  background: #edf3ff;
  border: 1px solid #d0def5;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: #2945c5;
  font-weight: 500;
}

.option-btnn:hover {
  background: #edf3ff;
}

.option-btnn:active {
  transform: none;
}

.option-btnn:focus {
  background-color: #2a6fd8;
  color: #fff;
}

.div-next-butn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skipcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #347dff;
  padding-top: 20px;

}

.skip-welcome {
  color: #347dff;
  border: none;
  font-size: 20px;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

.skip-welcome:hover {
  background-color: transparent;
}

.next-butn {
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 0;
  background: #347dff;
  color: white;
  border: none;
  padding: 0.8rem 2.5rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.next-butn:hover {
  background: #2a6fd8;
}

/* ≤ 1024px (Tablet landscape) */
@media (max-width: 1024px) {
  .welcome-header {
    display: flex;
  }
  .welcome-title-content {
    padding: 1rem 2rem;
  }

  .welcome-container {
    flex-direction: column;
    align-items: center;
  }
  .welcome-sidebar {
    width: 75%;
  }
  .sidebar,
  .form-section {
    width: 100%;
    max-width: 700px;
  }

  /* .bell-icon img {
    width: 2rem;
  } */

  .option-btnn {
    width: 100%;
  }
}

/* ≤ 780px (Tablet portrait) */
@media (max-width: 780px) {
  .welcome-header {
    display: flex;
  }

  .welcome-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  /* .user-info {
    align-self: flex-end;
  } */

  .welcome-title {
    font-size: 2rem;
  }

  .sidebar,
  .form-section {
    padding: 1.5rem;
  }
}
