.wallet-wrapper {
  width: 100%;
  height: 100vh;
  padding: 20px 80px;
  box-sizing: border-box;
}

.wallet-page {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6rem;
  padding: 10px;
  margin-top: 30px;
}

.wallet-panel {
  background: #f7f7f7;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
}

.wallet-panel h2 {
  margin-bottom: 24px;
  color: #2c3e50;
  font-size: 2rem;
}

.wallet-list button {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 12px;
  padding: 12px 16px;
  margin-bottom: 12px;
  background-color: #1e293b;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.wallet-list button img {
  height: 28px;
  width: 28px;
}

.arrow {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.back-link {
  margin-top: 35px;
  background: none;
  color: #3b82f6;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.back-link:hover {
  background: none;
}

.wallet-image {
  width: 100%;
}

/* Media Queries for Wallet Page Responsiveness */
@media (max-width: 1024px) {
  .wallet-wrapper {
    max-width: 90%;
    padding: 30px 40px;
  }

  .wallet-page {
    display: flex;
    justify-content: center;
  }

  .wallet-character {
    display: none;
  }

  .wallet-panel {
    width: 90%;
  }

  .wallet-panel h2 {
    font-size: 1.8rem;
    padding-top: 30px;
  }
}

@media (max-width: 780px) {
  .wallet-container {
    flex-direction: column;
    align-items: center;
    width: 70%;
    /* margin-right: 7rem; */
  }

  .logo {
    width: 100px;
  }

  .wallet-panel h2 {
    font-size: 1.6rem;
  }

  .wallet-list button {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .wallet-wrapper {
    padding: 20px;
  }

  .logo {
    width: 80px;
  }

  .wallet-panel h2 {
    font-size: 1.5rem;
  }

  .wallet-list button {
    padding: 10px 16px;
  }

  .back-link {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .wallet-wrapper {
    padding: 25px;
  }

  .wallet-panel {
    padding: 22px;
    border-radius: 12px;
  }

  .wallet-panel h2 {
    font-size: 1.2rem;
  }

  .wallet-list button {
    font-size: 14px;
    gap: 8px;
  }

  .wallet-list button img {
    width: 24px;
    height: 24px;
  }

  .back-link {
    font-size: 14px;
  }
}
