.chat-container {
  width: 100%;
  display: flex;
}

.chat-wrapper {
  background-color: #fff;
  /* height: 100vh; */
  overflow-y: auto;
  z-index: 2;
}

.asksimbi-container {
  flex: 1;
  margin-right: 4rem;
}
.chat-history {
  height: 100vh;
  margin-top: 3rem;
  width: 200px;
  padding: 1rem;
  overflow-y: auto;
  z-index: 1;
}

.chat-history h2 {
  margin-bottom: 7px;
}

.sidebar-toggle {
  position: absolute;
  display: flex;
  gap: 1rem;
  left: 12px;
  top: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 0 10px 4px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 3;
}

.history-section li {
  list-style: none;
}
.history-question {
  width: 100%;
  border: none;
  background-color: #fff;
  padding: 0.6rem 0.5rem;
  color: #000000ba;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  text-align: start;
}

.history-question:hover {
  background: #f3f3f3b6;
  border-radius: 8px;
}
.history-question:focus {
  background-color: none;
}

.cancel-button-div {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.cancel-button {
  background: rgba(233, 239, 253, 1);
  color: #2563eb;
  border: 1px solid #2563eb;
  padding: 12px 20px;
  margin-bottom: 7px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
}

.cancel-button:hover {
  color: #fff;
  background-color: #3571f2;
}

.chat-title {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  font-size: 36px;
  /* line-height: 150%; */
  letter-spacing: 0px;
  text-align: left;
}

.suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suggestions p {
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 150%; */
  letter-spacing: 0px;
  text-align: center;
  margin: auto;
}

.suggestions h6 {
  font-family: Nunito;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
  margin: auto;
}

.suggestion-text {
  font-family: Nunito;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
}

.suggestionBox {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.suggestion-button {
  /* height: 3.5rem; */
  font-size: 14px;
  gap: 10px;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  background: #f3f3f35c;
  color: #000000;
  box-shadow: 1px 1px 1px 1px #151a206c;
}

.suggestion-button:hover {
  background: #f3f3f35c;
  transform: scale(1.05);
}

.chat-box {
  min-height: 250px;
  max-height: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.chat-bubble {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 16px;
  /* line-height: 1.4; */
  font-size: 15px;
  white-space: pre-wrap;
}

.chat-bubble.left {
  align-self: flex-start;
  background-color: #f0f0f0;
  border-top-left-radius: 4px;
}

.chat-bubble.right {
  align-self: flex-end;
  background-color: #0052cc;
  color: white;
  border-top-right-radius: 4px;
}

.input-area {
  margin: auto;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 500px;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* height: auto;  */
  border: 1px solid #b2b2b2b4;
  padding: 1.2rem 0.3rem 1.5rem 2rem;
  /* padding-right: 40px; */
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 1px 2px 5px 1px #151a206c;
}

.chat-input {
  width: 100%;
  /* max-width: 100%;  */
  max-height: 4.5rem;

  font-size: 15px;
  resize: none;
  background-color: #fff;
  border: none;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-input:focus {
  outline: none;
}

.two-btn {
  display: flex;
  gap: 7px;
  padding-right: 15px;
}

.send-button,
.replay-button,
.voice-button {
  background: initial;
  color: none;
  border: none;
  padding: 0;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}
.send-button {
  padding-left: 25px;
}

.send-button:hover,
.replay-button:hover,
.voice-button:hover {
  background-color: inherit;
}

/* Responsive media queries */
@media (max-width: 768px) {
  .input-area {
    width: 90%; /* 90% width for smaller screens */
  }

  textarea {
    font-size: 14px; /* Slightly smaller font for small screens */
    padding: 12px; /* Slightly larger padding */
  }
}

@media (max-width: 480px) {
  .input-area {
    width: 100%; /* Full width on very small screens */
  }

  textarea {
    font-size: 13px; /* Smaller font on very small screens */
    padding: 10px; /* Adjust padding */
  }
}

@media screen and (max-width: 768px) {
  .chat-container {
    width: 90%;
    padding: 16px;
    margin: auto;
  }

  .chat-title {
    font-size: 28px;
  }

  .suggestion-button {
    font-size: 12px;
    padding: 10px;
    border-radius: 40px;
  }

  .chat-bubble {
    font-size: 14px;
  }

  .chat-input {
    font-size: 14px;
    width: 100%;
  }

  .cancel-button,
  .send-button {
    padding: 10px 20px;
    font-size: 12px;
  }

  .input-area,
  textarea {
    width: 75%;
    font-size: 12px;
  }

  .suggestions {
    width: 100%;
    margin-top: 5rem;
  }

  .suggestionBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.75rem;
  }
}
