
.sidebars {
  max-width: 200px;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 100; */
  padding-top: 2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  z-index: 999;
  /* overflow: auto; */
}

.sidebar-ul {
  padding-top: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  /* align-items: left; */
  padding-left: 0.7rem;
  list-style: none;
}

.sidebar-ul .links:hover{
  color:#1b58dd ;
}

.sidebar-ul .links:active{

  transform: scale(1.7);
}

.nav-logoo {
  display: flex;
  gap: 5px;
  margin-bottom: 1rem;
  width: 8rem;
  height: 40px;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1001;
  cursor: pointer;
  border: none;
}

.links {
  text-decoration: none;
  font-family: Nunito;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgba(115, 115, 115, 1);
  /* background: rgba(255, 255, 255, 1); */
}

.nav-links {
  padding: auto;
}

.sidebar-web3-card {
margin-top:2rem;
  background-color: #EEF6FF;
  border-radius: 16px;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
 
}

.sidebar-web3-title {
  font-size: 20px;
  font-weight: 500;
  color: #737373;
  margin-bottom: 20px;
}

.sidebar-telegram-btn {
  background-color: #FFFFFF;
  color: #1E293B;
  border: 1.5px solid #BCDBFF;
  font-weight: 600;
 /* width: 100%; */
 padding: 0.5rem 0.5rem;
  border-radius: 16px;
  font-size: 14px;
  cursor: pointer;
  font-family: "Segoe UI",sans-serif;
}

.sidebar-telegram-btn:hover {
  background-color:#BCDBFF;
  border-color: #91caff;
}


@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .sidebars {
    transform: translateX(-100%);
    padding-top: 6rem;
    width: 100%;
    max-width: 180px;
    background-color: white;
  }

  .sidebars.show {
    transform: translateX(0);
  }

  /* .nav-logoo {
    display: block;
    margin-bottom: 1rem;
    width: 8rem;
  } */

  ul img {
    width: 18px;
    height: 18px;
  }
}