.sidebar {
  width: 20%;
  max-width: 20rem;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 100; */
  padding: none;
  overflow: hidden;
  transition: transform 0.3s ease;
  z-index: 999;
  /* overflow: auto; */
}

.sidebar-ul {
  padding-top: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: left;
  padding-left: 1.1rem;
  background: rgba(255, 255, 255, 1);
  list-style-type: none;
}


.sidebar-li {
  list-style-type: none;
  background: rgba(255, 255, 255, 1);
}

.nav-logo {
  margin-bottom: 1rem;
  width: 8rem;
  height: 40px;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1001;
  cursor: pointer;
  border: none;
  background: rgba(255, 255, 255, 1);
}

.links {
  text-decoration: none;
  font-family: Nunito;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0px;
  color: rgba(115, 115, 115, 1);
  background: rgba(255, 255, 255, 1);
}

.nav-links {
  padding: auto;
}

.telegram-link{
  background-color: rgba(238, 246, 255, 1);
  border-radius: 16px;
  padding: 3rem 1rem;
  width: 100%;
  margin: 2rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.telegram-link h2{
  font-family: Nunito;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(115, 115, 115, 1);
  margin-top: 0;

}

.telegram-connect{
  all: unset;
  padding: 0.5rem 1rem;
  border: 1px solid var(--Primary-Electric-Blue-200, rgba(188, 219, 255, 1));
  background-color: rgba(255, 255, 255, 1);
  color: rgba(30, 41, 59, 1);
  font-family: Nunito;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  border-radius: 16px;
}
.telegram-connect:hover{
  background-color: #3a86ff;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .sidebar {
    transform: translateX(-100%);
    padding-top: 6rem;
    width: 40%;
    max-width: 200px;
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .nav-logo {
    display: block;
    margin-bottom: 1rem;
    width: 8rem;
  }

  ul img {
    width: 18px;
    height: 18px;
  }
}
