@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.onboarding-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9effd;
  padding: 2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.onboarding-card {
  width: 90%;
  background-color: #e9effd;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.1rem;
  color: #1e293b;
}

.description-wrap {
  width: 500px;
}

.description {
  font-size: 1.2rem;
  color: #1e293b;
  margin: 0.2rem auto 3rem auto;
  padding: 0 10px;
  text-align: center;
  font-weight: 600;
}

.progress {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #2563eb;
  background-color: #faf9f9;
  transition: all 0.3s ease;
}

.dot.active {
  width: 54px;
  background-color: #6d96f2;
  border-radius: 20px;
  border: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 55rem;
  width: 100%;
  margin: 0.7rem 0;
}

.next {
  background-color: #2563eb;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.back {
  background-color: transparent;
  color: #e36914;
  font-size: 1.6rem;
  border: none;
}

.back:active {
  transform: scale(0.95);
  color: #b35817;
}

.next:hover {
  background-color: #1d4ed8;
}

.next:active {
  transform: scale(0.95);
}

/* RESPONSIVE DESIGN FOR ONBOARDING PAGE  */

@media (max-width: 400px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 0.5rem;
  }

  .back,
  .next {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

/* Small devices (phones) */
@media (max-width: 600px) {
  .onboarding-container {
    height: 100vh;
    padding: 0.6rem;
  }

  .onboarding-card {
    width: 100%;
  }

  .title {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
  }

  .description-wrap {
    width: 100%;
    padding: 0 1rem;
  }

  .description {
    font-size: 1.1rem;
    margin: 0.5rem auto 2rem auto;
  }

  .image-container img {
    width: 180px;
    height: auto;
  }

  .progress {
    margin-bottom: 2rem;
  }

  .dot {
    width: 14px;
    height: 14px;
    margin: 1rem 0;
  }

  .dot.active {
    width: 34px;
  }

  .buttons {
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .back,
  .next {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
  }
}

/* Medium devices (small tablets and big phones) */
@media (min-width: 601px) and (max-width: 920px) {
  .onboarding-container {
    padding: 0.6rem;
    height: 100vh;
  }

  .onboarding-card {
    width: 90%;
    padding: 2rem;
  }

  .title {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .description-wrap {
    width: 90%;
  }

  .description {
    font-size: 1.3rem;
    margin: 0.5rem auto 2rem auto;
  }

  .image-container img {
    width: 220px;
    height: auto;
  }

  .buttons {
    gap: 20rem;
  }

  .back,
  .next {
    font-size: 1.3rem;
    padding: 0.8rem 1.5rem;
  }
}

/* Large devices (laptops/desktops) */
/* @media (min-width: 901px) {
  .onboarding-container {
    padding: 3rem;
  }

  .onboarding-card {
    width: 90%;
    max-width: 900px;
    padding: 3rem;
  }

  .title {
    font-size: 4rem;
  }

  .description-wrap {
    width: 550px;
  }

  .description {
    font-size: 1.3rem;
  }

  .image-container img {
    width: 233px;
    height: 200px;
  }

  .buttons {
    gap: 55rem;
  }
} */
