
.userinfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.6rem;
  margin: 20px 0;
}

.bell-icon {
  cursor: pointer;
  margin-top: 8px;
}

.user-avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #96aad7;
  border-radius: 16px;
  padding: 6px 14px;
}

.user-avatar img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.username {
  font-weight: 500;
  font-size: 14px;
}

.userinfo .wallet-btn {
  padding: 10px 18px;
  border: 1px solid #bcdbff;
  border-radius: 16px;
  background: #eef6ff;
  color: #1e293b;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}


@media (max-width: 760px) {
  .user-info-wrapper{
    margin-right: 10px;
  }
  .bell-icon img {
    width: 24px;
  }

  .user-avatar img {
    width: 20px;
    height: 20px;
  }

  .username{
    font-size: 12px;
  }
  .user-avatar {
    padding: 4px 10px;
  }
  .userinfo .wallet-btn{
    padding: 5px 10px;
    font-size: 12px;
  }
}

@media (max-width: 768px){
  /* .bell-icon img{
    display: none;
  }

  .user-avatar{
    display: none;
  } */


}