.login-wrapper {
  width: 100%;
  height: 100vh;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.login-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.login-illustration {
  max-width: 37.7%;
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  gap: 16px;
  margin-top: 15px;
}

.login-form h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #1e293b;
  margin: 0;
  margin-top: 15px;
}

.login-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.account-alert {
  color: #e90c34;
  margin: 0;
  font-size: 0.95rem;
}

.password-input-wrappers {
  position: relative;
}

.password-input-wrappers input {
  width: 93%;
}

.toggle-password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.login-button,
.wallet-connect {
  background-color: #2a7de1;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.wallet-connect {
  background-color: #fff;
  border: 1px solid #2a7de1;
  color: #2a7de1;
}

.wallet-connect:hover {
  color: #fff;
}

.redirect-signup {
  font-size: 0.9rem;
  text-align: center;
  color: #666;
}

.redirect-signup span {
  color: #3a86ff;
  cursor: pointer;
  margin-left: 6px;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .login-wrapper {
    padding: 30px;
  }

  .login-content {
    margin: auto;
    width: 65%;
    /* gap: 3rem; */
    box-shadow: 2px 2px 5px 2px #151a206c;
    border-radius: 10px;
  }

  .login-illustration {
    display: none;
  }

  .login-button,
  .wallet-connect {
    width: 100%;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .login-content {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }

  .login-form {
    width: 100%;
    padding: 10px 20px;
  }

  .login-form h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 600px) {
  .login-content {
    width: 90%;
    box-shadow: 0 0 0;
    border: 0;
    padding: 10px 20px;
  }

  .login-form h2 {
    font-size: 1.5rem;
  }

  .login-form input {
    font-size: 0.95rem;
  }

  .login-button,
  .wallet-connect {
    font-size: 0.95rem;
  }
}

@media (max-width: 400px) {
  .login-wrapper {
    padding: 15px;
  }

  .login-form h2 {
    font-size: 1.5rem;
  }
}
